<!DOCTYPE html>
<head>
   <meta charset="UTF-8">
   <title> Alice &#8217;s Adventures in Wonderland</title>
   <style type= "text/css" media ="all"
         <h1>   h1 {
                 color : orange;
                 font-size: 3em;
                 font-weight :bold;
                }
             h1.chaptertitle {
                 color :yellow;
                 font-size: .5em;
                }
         </h1>       
                
   </style>
</head>

         
                                       
